<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<properties>
		<Property name="patternLayout">%d{DATE} [%-5p] (%F:%L) - %m%n</Property>


	</properties>
	<appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${patternLayout}" />
		</Console>


	</appenders>
	<loggers>
		<logger name="by.htp.it.controller" additivity="false">
			<appender-ref ref="STDOUT" />

		</logger>
		<root level="warn">
			<appender-ref ref="STDOUT" />

		</root>
	</loggers>
</configuration>